#root {
  --primary-color: rgb(16,14,22);
  --secondary-color: rgb(23, 20, 28);
  --gradient: linear-gradient(to left,#ff8a00,#da1b60);
  --gradient2: linear-gradient(to left,#be3d6c,#da1b60);
}

.App {
  height: 100vh;
}